<!DOCTYPE html>
<html>
<head>
    <title>PDF Result</title>
</head>
<body>
<div>
    <div>
        <iframe
                src="viewer/web/viewer.html?file=..\..\output\comp.pdf"
                width="50%"
                height="750px"
                style="border: none;"
                align = "left"></iframe>
    </div>
    <div>
        <iframe
                src="viewer/web/viewer.html?file=..\..\output\ori.pdf"
                width="50%"
                height="750px"
                style="border: none;"></iframe>
    </div>
</div>
</body>
</html>