<!DOCTYPE html>
<html>
<head>
    <title>PDF Result</title>
    <link rel="stylesheet" href="css/pdf_view/pdf_view.css">
    <link rel="stylesheet" href="css/pdf_view/pdfjs.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1602f398c5.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

</head>
<body>

<div class="topnav" id="id_topnav">
    <button class="openSideBar_btn" onclick="openNav()"><i class="fas fa-bars"></i></button>
    <a class="active" href="/">OCR Solution</a>
    <button class="help-button" id="id-help-button">
        <i class="far fa-question-circle"></i>
    </button>
</div>



<div class="class_main_view" id="main_view">

    <div class="class_sideBar" id = "id_sideBar" style="width:0">
        <!--<a href="javascript:void(0)" class="closeSideBar_btn" onclick="closeNav()">×</a>-->
        <div class = "sideBar_tabs">
            <button type="button" class ="tab_button" id="upload_tab"><i class="fas fa-cloud-upload-alt"></i> Upload Documents</button>
        </div>
        <div class = "sideBar_tabs">
            <button type="button" class ="tab_button" id="annotate_tab"><i class="fas fa-edit"></i> Annotator</button>
        </div>
        <div class = "sideBar_tabs">
            <button type="button" class ="tab_button" id="report_tab"><i class="fas fa-book-open"></i> Report</button>
            <div class="report_subTab">
                <button type="button" class ="tab_button" id="full_view_tab"><i class="far fa-eye"></i> Full View Comparison</button>
                <button type="button" class ="tab_button" id="comparison_report_tab"><i class="fas fa-chart-pie"></i> Comparison Report</button>
                <button type="button" class ="tab_button" id="extract_tab"><i class="fas fa-info"></i> Extraction Result</button>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-header">
        </div>
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Insertion Difference: Highlighted In Green</p>
            <p>Deletion Difference: Highlighted In Red</p>
            <p>Case Difference: Highlighted In Blue</p>
        </div>
    </div>

    <div class="full_view">
        <div>
            <iframe class="comp" id="ori" width="50%" height="750px" style="border: none;" align="left"></iframe>

        </div>
        <div>
            <iframe class="comp" id="comp" width="50%" height="750px" style="border: none; overflow:hidden;" ></iframe>
        </div>
    </div>

    <div class="comparison_report">
        <div class="comparison_report_header">
            <p>{{process_datetime}}</p>
            <h1>Comparison Report</h1>
        </div>
        <div class="general_info">
            <div class="general_info_column" id="ori_file">
                <b>Original File:</b>
                <p>{{ori_filename}}</p>
                <p>{{ori_max_page}} pages ({{ori_size}} KB)</p>
                <p>8/5/2016 3:31:55 PM</p>
            </div>

            <div class="general_info_column" id="compare_file">
                <b>Compare File:</b>
                <p>{{comp_filename}}</p>
                <p>{{comp_max_page}} pages ({{comp_size}} KB)</p>
                <p>8/5/2016 3:27:37 PM</p>
            </div>
        </div>
        <div class="metrics">
            <div class="metrics_column" id="metrics_total_changes">
                <div><b>Total Changes</b></div>
                <div class="metrics_circle">
                    <svg id="circle">
                        <circle id="deletion_pct" r="140" cx="50%" cy="50%" stroke="red" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="880,880">
                        </circle>
                        <circle id="insertion_pct" r="140" cx="50%" cy="50%" stroke="green" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray={{insertion_radius}}>
                        </circle>
                    </svg>
                    <div style="position: relative;">
                        <div id="total_changes_num">{{total_changes}}</div>
                    </div>
                </div>

            </div>
            <div class="metrics_column" id="metrics_Content">
                <div class="metrics_Content_title">
                    <b>Content</b>
                </div>
                <div class="metrics_Content_block">
                    <span class="metrics_Content_num" id="insert_num">{{insertion_num}}</span>
                    <span>Insertions</span>
                </div>
                <div class="metrics_Content_block">
                    <span class="metrics_Content_num" id="delete_num">{{deletion_num}}</span>
                    <span>Deletions</span>
                </div>
            </div>
        </div>
    </div>
    <div class="extraction_view">
        <!-- <div class="table-wrapper">
            <div class="table-title-wrapper">
                <div class="table-title">Extraction Result</div>
                <div class="select2">
                    <select id="keyword" class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width: 50%">
                        {% for item in extractResult %}
                            <option value={{item[0]}}>{{item[0]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <div class="table-filter">
            <div class="row">
                <div class="col-sm-3">
                    <div class="show-entries">
                        <span>Show</span>
                        <select class="form-control">
                            <option>5</option>
                            <option>10</option>
                        </select>
                        <span>entries</span>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="filter-group">
                        <label>Status</label>
                        <select class="form-control">
                            <option>Any</option>
                            <option>Completed</option>
                            <option>In Progress</option>
                            <option>To Run</option>
                        </select>
                    </div>
                <span class="filter-icon"><i class="fa fa-filter"></i></span>
                </div>
            </div>
        </div> -->
        <div class="table-wrapper">
            <table class="extract_table hover order-column row-border stripe">
                <thead>
                    <tr>
                        <th>Key Word</th>
                        <th>Page Number</th>
                        <th>Result</th>
                        <th>Switch To</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% for item in extractResult %}
                        {% for text in item[1] %}
                        <tr class="extracted_row">
                            <td class="keyWord">{{ item[0] }}</td>
                            <td>{{ text[1] }}</td>
                            <td>{{ " ".join(text[0]) }}</td>
                            <td>
                                <span class="page"> 
                                    <a class={{text[1]}}>
                                        <i class="far fa-file-pdf"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="js/pdf_view.js"></script>

</body>
</html>