<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
    <link rel="stylesheet" href="css/upload_style.css">
</head>
<body>

<div class="topnav">
    <button class="btn"><i class="fa fa-bars"></i> Menu</button>
    <a class="active" href="#title">OCR Solution</a>

</div>

{% if msg %}
<h1>{{ msg }}</h1>
{% endif %}

<h1>Upload new File</h1>

<form method=post enctype=multipart/form-data>
    <p>
        <label>Compare File :</label>
        <input type=file name=comp_file multiple>
        <label>Original File :</label>
        <input type=file name=ori_file multiple>
        <input type=submit value=Upload>
</form>


</body>
</html>